@mixin display-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

@mixin label {
    width: 13%;
    height: 30px;
    color: #fff;
    font-size: 0.8rem;
    padding: 5px;
    text-align: center;
}